body{
    background-color: skyblue;
}
header, h1{ 
    text-align: center;
    background-image:url(../images/water.jpg);
    background-position: center;
    background-repeat: repeat-x;
    margin:auto;
   
  
}

#imgbg{
    background: url(../images/ben.png);
    left: 0;
    top: 0;
    bottom:0;
    right:0;
    width:1000px;
    height: 1000px;
    z-index: 3;
    position: absolute;
    opacity: .1;
    background-repeat: repeat;
}
.Column1{
    width:250px;
    margin:10px;
    background-color: cadetblue;
    float: left;
    border-radius: 25px;
    padding: 5px;

}
.Column2{
    width:250px;
    margin: 10px;
    background-color: aqua;
    float:left;
    border-radius:25px;
    padding: 5px
}

.Column3{
    
    width: 250px;
    margin: 10px;
    background-color:aquamarine;
    float: left;
    border-radius: 25px;
    padding: 5px;
    
}

h4,h3{
    text-align: center;
    color: goldenrod;
    background-color: black;
}
#past{
    background-image: url(../images/resume.pdf);

    
}
.dot{
    height: 125px;
    width: 125px;
    border-radius: 50%;
    display: inline-block;
    background-color: white;
    z-index: 1;
    float: right;
    margin-right: 25px;
    background-image: url(../images/profile.jpg);
    background-position: center;
    max-height: 100%;
    max-width: 100%;
    vertical-align: middle;
    display: table-cell;
    text-align: center;
    
  
}
embed{
    width: 250px;
    height: 500px;
    
}